.app-container {
    width: 100%;
    height: 100%;

    :global {
        .logo {
            width: 120px;
            height: 31px;
            margin: 16px 24px 16px 0;
            background: rgba(255, 255, 255, 0.2);
            float: left;
        }

        .ant-layout-content {
            display: flex;
            flex-direction: column;
            padding: 0 24px;

            .ant-breadcrumb {
                margin: 16px 0;
            }

            .site-layout-content {
                min-height: 280px;
                flex: 1;
                padding: 24px;
                background: #ffffff;
            }
        }

        .ant-layout-footer {
            text-align: center;
        }
    }
}
